@using CRUD.Models.Classe

@model Cliente

<h1>Alterar Empresa</h1>

<form asp-action="Editar" asp-controller="Formulario" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <b>ID:</b> @Model.Id
    </div>
    <div class="form-group">
        <b>Razão Social:</b>
        <input type="text" asp-for="Razao_Social" class="form-control" value="@Model.Razao_Social" />
    </div>
    <div class="form-group">
        <b>CNPJ:</b>
        <input type="text" asp-for="Cnpj" class="form-control" value="@Model.Cnpj" />
    </div>
    <div class="form-group">
        <b>Data Fundação:</b>
        <input type="date" asp-for="Data_Fundacao" class="form-control" value="@Model.Data_Fundacao.ToString("dd/MM/yyyy")" />
    </div>
    <div class="form-group">
        <b>Capital:</b>
        <input type="number" asp-for="Capital" class="form-control" value="@Model.Capital" />
    </div>
    <div class="form-group">
        <b>Status do Cliente:</b>
        <select class="form-control" asp-for="status_cliente">
            <option selected="@Model.status_cliente" value="@Model.status_cliente"></option>
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
        </select>
    </div>
    <div class="form-group">
        <b>Quarentena:</b>
        <select class="form-control" asp-for="Quarentena">
            <option selected="@Model.Quarentena" value="@Model.Quarentena"></option>
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
    </div>
    <div class="form-group">
        <b>Classificação:</b>
        <select class="form-control" asp-for="classificacao">
            <option selected="@Model.classificacao" value="@Model.classificacao"></option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
    </div>
    <div class="form-group" style="text-align:right">
        <input type="submit" value="Salvar" class="btn btn-outline-warning">
        <input type="button" value="Fechar" class="btn btn-outline-info" data-dismiss="modal" />
    </div>
</form>