@using CRUD.Models.Classe

@model Cliente

<h1>Detalhes da Empresa</h1>

<p><b>ID: </b> @Model.Id</p>
<p><b>Razão Social: </b> @Model.Razao_Social</p>
<p><b>CNPJ: </b> @Model.Cnpj</p>
<p><b>Fundado em: </b> @Model.Data_Fundacao.ToString("dd/MM/yyyy")</p>
<p><b>Capital: </b> @Model.Capital</p>
<p><b>Qaurentena: </b> @Model.Quarentena</p>
<p><b>Status do Cliente: </b> @Model.status_cliente</p>
<p><b>Classificação: </b> @Model.classificacao</p>
<div class="form-group" style="text-align:right">
    <input type="button" value="Fechar" class="btn btn-outline-info" data-dismiss="modal" />
</div>