@using CRUD.Models.Classe

@model IList<Cliente>
<h4> Cadastrar Empresa</h4>
<i type="button" class="btn btn-success mt-3 mb-4 btn_cadastrar material-icons">add</i>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Razao Social</th>
            <th>CNPJ</th>
            <th>Data de Fundação</th>
            <th>Capital</th>
            <th>Quarentena</th>
            <th>Status Cliente</th>
            <th>Classificação</th>
            <th>Detalhar</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Razao_Social</td>
                <td>@cliente.Cnpj</td>
                <td>@cliente.Data_Fundacao.ToString("dd/MM/yyyy")</td>
                <td>R$ @cliente.Capital</td>
                <td>@cliente.Quarentena</td>
                <td>@cliente.status_cliente</td>
                <td>@cliente.classificacao</td>
                <td><i type="button" class="btn btn-block btn-info details material-icons" data-id="@cliente.Id">comment</i></td>
                <td><i type="button" style="color:white" class="btn btn-block btn-warning edit material-icons" data-id="@cliente.Id">edit</i></td>
                <td><i type="button" class="btn btn-block btn-danger delete material-icons"  data-id="@cliente.Id">delete</i></td>
            </tr>
        }
    </tbody>
</table>
<!--Modal Centralizado-->
<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color:silver">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                let id = $(this).attr("data-id");
                $("#conteudoModal").load("Formulario/Detalhar/" + id, function () {
                    $("#myModal").modal("show");
                })
            });

            $(".edit").click(function () {
                let id = $(this).attr("data-id");
                $("#conteudoModal").load("Formulario/Atualizar/" + id, function () {
                    $("#myModal").modal("show");
                })
            });

            $(".delete").click(function () {
                let id = $(this).attr("data-id");
                $("#conteudoModal").load("Formulario/Deletar/" + id, function () {
                    $("#myModal").modal("show");
                })
            });

            $(".btn_cadastrar").click(function () {
                $("#conteudoModal").load("Formulario/Cadastro", function () {
                    $("#myModal").modal("show");
                })
            });

        });
    </script>
}

